{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1546900703-cf06143d1239?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1591&q=80')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Shantanu's Blog</h1>
          <span class="subheading">A simple blog page created by using flask!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for blog_post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=blog_post.id) }}">
          <h2 class="post-title">
            {{blog_post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{blog_post.subtitle}}
          </h3>
        </a>
        <p class="post-meta">Posted by:
          <a href="#">{{blog_post.author.name}}</a>
          on {{blog_post.date}}

          {% if current_user.id == 1 %}
          <a href="{{url_for('delete_post', post_id=blog_post.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      {% endfor %}

      <hr>
      {% if current_user.id == 1 %}
      <!--NEW POST-->
      <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}